body{
  background-color: rgb(147, 255, 47);
color: rgb(5, 56, 3);
margin: 0;
padding: 20px;
min-height: 100vh;
max-width: 1400px;
margin: auto;
}
p{
    text-align: center;
    font-weight: 700;
}
    h1{
        text-align: center;
    }
    .img{
    width: 90px;
    max-width: 100%;
    display: block;
}