body{
  background-color: rgb(179, 255, 58);
color: rgb(6, 83, 9);
margin: 0;
padding: 20px;
min-height: 100vh;
max-width: 1400px;
margin: auto;
}
p{
    text-align: center;
    font-weight: 700;
}
    h1{
        text-align: center;
    }
    .img{
    width: 350px;
    max-width: 100%;
    display: block;
}
.container{
    background-color: white;
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
}